[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tidyfinance"]
	path = tidyfinance
	url = https://github.com/tidy-finance/r-tidyfinance
